* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    padding-top: 40px;
    padding-bottom: 47px;
}

.header__list {
    padding-top: 11px;
    padding-bottom: 12px;
}

.header__info {
    padding-top: 60px;
    padding-bottom: 80px;
}

.header__title {
    margin-bottom: 17px;
}

.header__text {
    margin-bottom: 37px;
}

.header__buttons {
    margin-bottom: 15px;
}

.header__logos {
    padding: 95px 0;
}